<section class="card-list striplight">
    <div class="static">
    <h2>Edição Java Add-ons</h2>
    <p>Melhore ainda mais o seu Minecraft com esses complementos legais</p>
    <div>
        <a class="card" href="https://sapixcraft.com/downloads/addons/colossal/">
        <div>
            <h4>More coming soon 😉</h4>
        </div>

        <img class="thumb" src="img/addons/addons-soon2.webp" alt="coming soon" />
        </a>

        <a class="card" href="https://sapixcraft.com/downloads/addons/colossal/">
        <div>
            <h4>More coming soon 😄</h4>
        </div>

        <img class="thumb" src="img/addons/addons-soon3.webp" alt="coming soon" />
        </a>

        <a class="card pvp-add-on" href="https://sapixcraft.com/downloads/addons/pvp/">
        <div>
            <h4>PVP add-on</h4>
            <p>
            The PVP add-on improves the experience for the PVP Minecrafters by making the swords shorter for better visibility. More features
            will be added in the future.
            </p>
            <div>
            <p>get this add-on</p>
            <img class="icon" src="https://sapixcraft.com/img/icons/download-white.webp" alt="download icon" />
            </div>
        </div>

        <img class="thumb" src="img/addons/addons-pvp.webp" alt="Sapixcraft PVP Add-on" />
        </a>

        <a class="card chr-add-on" href="https://sapixcraft.com/downloads/addons/christmas/">
        <div>
            <h4>Christmas add-on</h4>
            <p>The Christmas add-on gives Sapixcraft a Christmas look and feel. Lots of snow everywhere, special tools and Christmas hats!</p>
            <div>
            <p>get this add-on</p>
            <img class="icon" src="//sapixcraft.com/img/icons/download-white.webp" alt="download icon" />
            </div>
        </div>
        <img class="thumb" src="img/addons/addons-christmas.webp" alt="Sapixcraft Christmas Add-on" />
        </a>

        <a class="card col-add-on" href="//sapixcraft.com/downloads/addons/colossal/">
        <div>
            <h4>Colossal Items Add-on</h4>
            <p>a fun little add-on that makes every item and block you (or your friends) hold in your hands become huge.</p>
            <div>
            <p>get this add-on</p>
            <img class="icon" src="//sapixcraft.com/img/icons/download-white.webp" alt="download icon" />
            </div>
        </div>

        <img class="thumb" src="img/addons/addons-colossal.webp" alt="Sapixcraft Colossal Add-on" />
        </a>

        <a class="card lush-add-on" href="//sapixcraft.com/downloads/addons/lush-foliage/">
        <div>
            <h4>Lush Foliage Add-on</h4>
            <p>a fun little add-on that makes every item and block you (or your friends) hold in your hands become huge.</p>
            <div>
            <p>get this add-on</p>
            <img class="icon" src="https://sapixcraft.com/img/icons/download-white.webp" alt="download icon" />
            </div>
        </div>

        <img class="thumb" src="img/addons/addons-lush-foliage.webp" alt="Sapixcraft Lush Foliage Add-on" />
        </a>
    </div>

    <a class="btn btn-sec" href="//sapixcraft.com/downloads/addons/">
        explore all add-ons
        <img src="//sapixcraft.com/img/icons/list-white.webp" alt="list icon" />
    </a>
    </div>
</section>