<section class="get cards-4x">
    <div class="static">
    <h2>Baixe Texturas Disponíveis</h2>
    <p>Todos os tipos de conteúdo relacionados ao MCPACK</p>
    <ul class="grid2x2">
        <li>
        <a href="/downloads/java">
            <div class="copy">
            <h3>Edição Java</h3>
            <p>Baixe as últimas versões dos pacotes disponíveis para a versão Java! (MC 1.8.9)</p>
            </div>
            <div class="image">
            <img src="//sapixcraft.com/img/icons/javaEd-accent.webp" alt="java icon" />
            </div>
        </a>
        </li>
        <li>
        <a href="//sapixcraft.com/downloads/addons">
            <div class="copy">
            <h3>Add-ons for Java</h3>
            <p>
                Aqui no site publicamos assets ou mídias extras, para complementar a textura após lançamento<br />
                Os add-ons, servem para adicionar ou modificar recursos do pacote de textura.
            </p>
            </div>
            <div class="image">
            <img src="//sapixcraft.com/img/icons/addOn-accent.webp" alt="Add-on icon" />
            </div>
        </a>
        </li>
        <li>
        <a href="//sapixcraft.com/downloads/bedrock">
            <div class="copy">
            <h3>Assets Edition</h3>
            <p>Lançamentos de texturas e arquivos extras para complementar sua textura <br/>
                complemente seus add-ons e pacotes de texturas agora mesmo.
            </p>
            </div>
            <div class="image">
            <img src="//sapixcraft.com/img/icons/bedrockEd-accent.webp" alt="bedrock icon" />
            </div>
        </a>
        </li>
        <li>
        <a href="//sapixcraft.com/downloads/mods">
            <div class="copy">
            <h3>Shaders e Patches Java</h3>
            <p>
                Agora é possível fazer o downlaod de shaders e patches para a versão Java do MCPACK! <br />
                versões compatíveis com o Minecraft 1.8.9, versões exclusivas para o MCPACK.
            </p>
            </div>
            <div class="image">
            <img src="//sapixcraft.com/img/icons/gear-accent.webp" alt="mods icon" />
            </div>
        </a>
        </li>
    </ul>
    </div>
</section>
<style></style>