<div class="mcc_section mcc_section__explore mcc_sectionFlair mcc_sectionFlair--waveSm inherited-styles-for-exported-element">
  <div class="mcc_sectionInner">
    <div class="mcc_sectionHeadWrapper mcc_sectionHeadWrapper--explore">
      <h2 class="mcc_sectionHead">
        Explore <span class="mcc_sectionHead__subhead" data-i18n="pack_details_description">MISTERIOSAS TEXTURAS</span>
      </h2>
      <img src="/img/preview/flag/explore.png" width="150px"/>
    </div>
    <div class="mcc_horizontalSliderWrapper mcc_exploreSliderWrapper">
      <div class="mcc_horizontalSlides mcc_exploreSlides">
        <div>
          <div class="mcc_exploreSlide">
            <div class="mcc_exploreSlide__inner" style="background-image: url('/img/features/preview1.png');">
              <div class="mcc_exploreText">
                <div class="mcc_exploreIcon inherited-styles-for-exported-element">
                <img src="/img/badge/ender_pearl.gif" alt="Ender Animation">
                </div>
              <h3 data-i18n="pack_details_slide_one_title">Um Mundo de Detalhes</h3>
              <p data-i18n="pack_details_slide_one_description">A única textura 512x que ostenta um estilo de arte moderno e minucioso, focado em reimaginar cada elemento ao invés de apenas redesenhá-lo. Com uma resolução altíssima, ela explora ao máximo cada pixel — entregando uma paleta de cores praticamente ilimitada e uma consistência visual impressionante.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mcc_exploreSlide">
            <div class="mcc_exploreSlide__inner" style="background-image: url('/img/features/preview2.png');">
              <div class="mcc_exploreText">
                <div class="mcc_exploreIcon inherited-styles-for-exported-element">
                <img src="/img/badge/emerald.gif" alt="">
                </div>
                <h3 data-i18n="pack_details_slide_two_title">Modelos Exclusivos</h3>
                <p data-i18n="pack_details_slide_two_description">Aqui você encontra modelos únicos de itens, blocos e interfaces (GUIs) que não existem em nenhum outro lugar. Desfrute do melhor design de pacotes do mercado — totalmente gratuito — com temas elegantes, vibrantes e cheios de personalidade.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mcc_exploreSlide">
            <div class="mcc_exploreSlide__inner" style="background-image: url('/img/features/preview3.png');">
              <div class="mcc_exploreText">
                                <div class="mcc_exploreIcon inherited-styles-for-exported-element">
                <img src="/img/badge/fireball.gif" alt="">
                </div>
                <h3 data-i18n="pack_details_slide_three_title">Junte-se aos Amigos!</h3>
                <p  data-i18n="pack_details_slide_three_description">Com texturas leves, bonitas e cuidadosamente refinadas, a MCPACK oferece a melhor experiência para se divertir com os amigos. Cada detalhe foi pensado para garantir qualidade em cada frame — porque jogar junto merece o melhor.</p>
                <span data-i18n="pack_details_slide_three_subdescription">(espero que eu não apanhe da namorada por esse print)</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mcc_exploreSlide">
            <div class="mcc_exploreSlide__inner" style="background-image: url('/img/features/preview4.png');">
              <div class="mcc_exploreText">
                                <div class="mcc_exploreIcon inherited-styles-for-exported-element">
                <img src="/img/badge/pufferfish_bucket.png" alt="">
                </div>
                <h3 data-i18n="pack_details_slide_four_title">Eventos de Minigames</h3>
                <p data-i18n="pack_details_slide_four_description">A MCPACK é a única capaz de oferecer os melhores packs para minigames, unindo alto desempenho, beleza e design refinado. Para vencer nos seus eventos favoritos, só mesmo com um pack de qualidade — e disso a gente entende.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
@import url('/css/partials.css');
</style>