<section id="updates" class="stripdark cards-4x">
  <div class="static">
    <h2 data-i18n="update_title">O que há de novo</h2>
      <p data-i18n="update_description">Todas as últimas atualizações do MCPACK</p>

        <div class="x4Grid">
          <div class="premium-card">
            <p class="new-update-bubble" data-i18n="badge_new">
              <img src="/img/icons/new-white.webp" alt="new icon" class="icon" />
                Nova Textura
            </p>
          <a href="/" class="card">
          <div class="thumb" style="background-image: url(/img/resourcepack/sunflower.png)"></div>
            <article>
            <h2 class="name">Sunflower [32x]</h2>
            <h4 class="description" data-i18n="description_txt_one">
              Uma textura de flores de girassol, jogue com muito FPS, qualidade e cores vibrantes.
            </h4>
            <span>
              <img class="icon" src="/img/icons/star-gold.webp" alt="gold star icon" title="Exclusive" />
              Updated
              <time class="timeago" datetime="19 Feb 2025 20:30">19 Feb 2025</time>
              <img src="/img/icons/addOn-gray.webp" class="game-version" alt="add-on icon" title="Java Add-on" />
            </span>
            </article>
            </a>
          </div>
          
        <a href="/" class="card">
          <div class="thumb" style="background-image: url(/img/resourcepack/lothus.png)"></div>
            <article>
            <h2 class="name">Lothus [32x]</h2>
            <h4 class="description" data-i18n="description_txt_two">
              Uma textura roxa focada na flor mais linda noturna com qualidade e cores vibrantes.
            </h4>
            <span>
              Updated
              <time class="timeago" datetime="20 Jul 2024 10:15">20 Jul 2024</time>
              <img src="/img/icons/addOn-gray.webp" class="game-version" alt="add-on icon" title="Java Add-on" />
            </span>
            </article>
            </a>

        <a href="/" class="card">
          <div class="thumb" style="background-image: url(/img/resourcepack/hylex.png)"></div>
            <article>
            <h2 class="name">Hylex [512x]</h2>
            <h4 class="description" data-i18n="description_txt_three">
              Textura de alta definição, com foco em detalhes incríveis, qualidade e cores vibrantes.
            </h4>
            <span>
              Updated
              <time class="timeago" datetime="22 May 2024 19:00">22 May 2024</time>
              <img src="/img/icons/addOn-gray.webp" class="game-version" alt="add-on icon" title="Java Add-on" />
            </span>
          </article>
        </a>
      </div>
      <br/>
      <button>
        <a href="/updates/" class="button-secondary shine" data-i18n="button_update">
          Atualizações
        </a>
      </button>
    </div>
  </div>
</section>